/* googleh.css */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer {
    list-style-type: none;
    margin: 0;
    padding:0;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.flex-parent{
    display: flex;
}
.jc-center {
    justify-content: center;
}
button.margin-left {
    margin-left: 20px;
}
#search-bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

