/* googleh.css */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer {
    list-style-type: none;
    margin: 0;
    padding:0;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#button1 , #button2{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

